<?xml version="1.0"?>
<launch>
    <!--Launch Zed Wrapper-->
	<include file="$(find zed_wrapper)/launch/zed0.launch"/>

    <!--Down sampling-->
    <node pkg="sensor_fusion" type="camera_downsample" name="camera_downsample_zed0">
        <param name="ds_size" type="double" value="0.20" />
        <remap from="/cloud" to="/zed0/point_cloud/cloud_registered" />
        <remap from="/output" to="/zed0/ds_cloud" />
    </node>

    <!--Diff Image-->
    <node pkg="sensor_fusion" type="image_diff_test.py" name="image_diff_zed0" output="screen">
        <param name="diff_count" type="int"    value="30" />
        <param name="threshold"  type="double" value="0.05" />
        <remap from="image" to="/zed0/left/image_rect_color" />
        <remap from="diff_image/compressed"   to="/zed0/diff_image/compressed" />
        <remap from="move" to="/zed0/move" />
    </node>

</launch>
