<?xml version="1.0"?>
<launch>
    <node name="node_saver" pkg="sensor_fusion" type="node_saver" output= "screen">
        <param name="save_num  "   type="int" value="1000"/>
        <param name="file_path"    type="string" value="/home/amsl/SII/PCD/" />
        <param name="image_path"   type="string" value="/home/amsl/SII/Image/" />
		<param name="global_frame" type="string" value="odom" />
		<param name="child_frame"  type="string" value="base_link" />
        <param name="laser_frame"  type="string" value="centerlaser" />
        <param name="camera_frame" type="string" value="camera_color_optical_frame" />
		<remap from="/cloud" to="/cloud/tf" />
		<remap from="/image" to="/camera/color/image_raw" />
		<remap from="/cinfo" to="/camera/color/camera_info" />
		<remap from="/flag"  to="/save_flag" />
    </node>
</launch>
