<?xml version="1.0"?>
<launch>
    <!--Launch Zed Wrapper-->
	<include file="$(find zed_wrapper)/launch/zed2.launch"/>

    <!--Down sampling-->
    <param name="camera/ds_size" type="double" value="0.05" />
    <node pkg="sensor_fusion" type="camera_downsample" name="camera_downsample_zed2">
        <remap from="/cloud" to="/zed2/point_cloud/cloud_registered" />
        <remap from="/output" to="/zed2/ds_cloud" />
    </node>
    
    <!--Optical Flow-->
    <node pkg="sensor_fusion" type="optical_flow.py" name="optical_flow_zed2" output="screen">
        <param name="threshold" type="int" value="1000" />
        <remap from="image"                     to="/zed2/left/image_rect_color" />
        <remap from="optical_flow/raw"          to="/zed2/optical_flow/raw" />
        <remap from="optical_flow/compressed"   to="/zed2/optical_flow/compressed" />
        <remap from="move"                      to="/zed2/move" />
    </node>
</launch>
