<?xml version="1.0"?>
<launch>
	<node pkg="sensor_fusion" type="save_data" name="save_data" output="screen">
		<param name="threshold"     type="double"   value="3.0" />
		<param name="save_count"    type="int"      value="1000" />
		<param name="trial_count"   type="int"      value="50" />
		<param name="global_frame"  type="string"   value="/map" />
        <param name="laser_frame"   type="string"   value="/centerlaser" />
        <param name="zed0_frame"    type="string"   value="/zed0/zed_left_camera" />
        <param name="zed1_frame"    type="string"   value="/zed1/zed_left_camera" />
        <param name="zed2_frame"    type="string"   value="/zed2/zed_left_camera" />


        <remap from="odom"      to="odom" />
		<remap from="cloud"     to="cloud/tf" />
		<remap from="/zed0/optical_flow" to="/zed0/move" />
		<remap from="/zed1/optical_flow" to="/zed1/move" />
		<remap from="/zed2/optical_flow" to="/zed2/move" />
        <remap from="/zed0/image" to="/zed0/left/image_rect_color/republish" />
        <remap from="/zed0/cinfo" to="/zed0/left/camera_info" />
        <remap from="/zed1/image" to="/zed1/left/image_rect_color/republish" />
        <remap from="/zed1/cinfo" to="/zed1/left/camera_info" />
        <remap from="/zed2/image" to="/zed2/left/image_rect_color/republish" />
        <remap from="/zed2/cinfo" to="/zed2/left/camera_info" />
    </node>
</launch>
