<?xml version="1.0"?>
<launch>
    <!--Launch Zed Wrapper-->
	<include file="$(find zed_wrapper)/launch/zed1.launch"/>
    
    <!--republish-->
    <node name="republish1" type="republish" pkg="image_transport" output="screen" 
          args="compressed in:=/zed1/left/image_rect_color raw out:=/zed1/left/image_rect_color/republish" />

    <!--Coloring PointCloud-->
	<param name="coloring/target_frame"  type="string" value="/zed1/zed_left_camera" />
	<param name="coloring/source_frame"  type="string" value="/centerlaser" />
	<param name="debug" 		type="bool"   value="false" />
	<node pkg="sensor_fusion" type="coloringcloud" name="coloring_zed1">
		<remap from="/cloud" 		 to="/sq_lidar/points/right" />
		<remap from="/camera_info" 	 to="/zed1/left/camera_info" />
		<remap from="/image" 		 to="/zed1/left/image_rect_color/republish" />
		<remap from="/cloud/colored" to="/zed1/colored" />
	</node>
    
    <!--Transform PointCloud-->
    <node pkg="sensor_fusion" type="laser_transform_pointcloud" name="zed1_transform_pointcloud">
        <remap from="/cloud" to="/zed1/colored" />
        <remap from="/cloud/tf" to="/zed1/colored/tf" />
    </node>

</launch>
