<?xml version="1.0"?>
<launch>
	<!--Coloring PointCloud-->
	<node pkg="sensor_fusion" type="coloring_zed2" name="coloring_zed2"/>
	
	<!--Transform PointCloud-->
	<param name="transform_pointcloud/target_frame" type="string" value="centerlaser" />
	<node pkg="sensor_fusion" type="laser_transform_pointcloud" name="zed2_transform" >
		<remap from="/cloud"    to="/zed2/colored" />
		<remap from="/cloud/tf" to="/zed2/colored/tf" />
	</node>
</launch>
