<?xml version="1.0"?>
<launch>
	<!--Coloring PointCloud-->
	<node pkg="sensor_fusion" type="coloring_zed0" name="coloring_zed0"/>
	
	<!--Transform PointCloud-->
	<node pkg="sensor_fusion" type="laser_transform_pointcloud" name="zed0_transform" >
        <param name="target_frame" type="string" value="centerlaser" />
		<remap from="/cloud"    to="/zed0/colored" />
		<remap from="/cloud/tf" to="/zed0/colored/tf" />
	</node>
</launch>
