<?xml version="1.0"?>
<launch>
	<!--Coloring PointCloud-->
	<node pkg="sensor_fusion" type="coloring_zed1" name="coloring_zed1"/>
	
	<!--Transform PointCloud-->
	<param name="transform_pointcloud/target_frame" type="string" value="centerlaser" />
	<node pkg="sensor_fusion" type="laser_transform_pointcloud" name="zed1_transform" >
		<remap from="/cloud"    to="/zed1/colored" />
		<remap from="/cloud/tf" to="/zed1/colored/tf" />
	</node>
</launch>
