<?xml version="1.0"?>
<launch>
    <param name="realworld" type="string" value="false" />

    <!--Plane Segmentation-->
    <param name="threshold/x" type="double" value="3.0" />
    <param name="threshold/y" type="double" value="1.0" />
    <param name="threshold/z" type="double" value="0.5" />
    <param name="camera/ds_size" type="double" value="0.03" />
    <node pkg="sensor_fusion" type="camera_seg_plane" name="lidar_seg_plane" output="screen">
        <remap from="/cloud" to="/zed/ds_cloud" />
        <remap from="/output/pickup"  to="/center/pickup" />
        <remap from="/output/plane"   to="/center/plane" />
        <remap from="/output/outlier" to="/center/outlier" />
    </node>
</launch>
