<?xml version="1.0"?>
<launch>
    <!--Launch Sensor TF-->
	<include file="$(find sensor_fusion)/launch/laser_tf.launch"/>

	<!--Transform PointCloud2 data at Camera Link-->
	<node pkg="sensor_fusion" type="laser_transform_pointcloud" name="laser_transform_pointcloud"/>
	
	<!--divide PointCloud-->
	<param name="rm_ground/threshold_z/min" type="double" value="-0.9" />
    <param name="rm_ground/threshold_z/max" type="double" value="1.0" />
    <node pkg="sensor_fusion" type="rm_ground_division" name="rm_ground_division" >
		<remap from="/cloud" 		to="/cloud/save" />
		<remap from="/cloud/center" to="/rm_ground/center" />
		<remap from="/cloud/left" 	to="/rm_ground/left" />
		<remap from="/cloud/right" 	to="/rm_ground/right" />
	</node>

	<!--Save PointCloud-->
	<param name="save_points/save_num" type="int" value="2000" />
	<param name="save_points/lidar_points" type="int" value="417" />
	<param name="save_points/hz" type="int" value="30" />
	<node pkg="sensor_fusion" type="save_points" name="save_points">
		<remap from="/cloud" to="/cloud/tf" />
	</node>


	<!--Plane Segmentation-->
    <param name="min_x" type="double" value="0"   />
    <param name="max_x" type="double" value="4.0" />
    <param name="min_y" type="double" value="-1.0"/>
    <param name="max_y" type="double" value="1.0" />
    <param name="min_z" type="double" value="-0.6"/>
    <param name="max_z" type="double" value="1.0" />
    <param name-"distance" type="double" value="0.03" />
	<node pkg="sensor_fusion" type="lidar_seg_plane" name="lidar_seg_plane" output="screen">
		<remap from="/cloud"        to="/rm_ground/center" />
		<remap from="/area"         to="/center/area" />
        <remap from="/down_sample"  to="/center/down_sample" />
        <remap from="/cluster"      to="/center/cluster" />
        <remap from="/plane"        to="/center/plane" />
        <remap from="/outlier"      to="/center/outlier" />
	</node>

    <!--Circle Detection-->
    <node pkg="sensor_fusion" type="lidar_seg_circle" name="lidar_seg_circle" output="screen">
        <remap from="/cloud"            to="/center/plane" />
        <remap from="/output/reference" to="/center/reference" />
        <remap from="/output/search"    to="/center/search" />]
        <remap from="/output/candidate" to="/center/candidate" />
        <remap from="/output/centroid"  to="/center/centroid" />
        <remap from="/output/average"   to="/center/average" />
    </node>

</launch>
