<?xml version="1.0"?>
<launch>
    <!--Launch Sensor Node-->
	<!--include file="$(find sq1_extra)/launch/run_sq2_for_joy.launch"/-->

    <!--Launch Sensor TF-->
	<include file="$(find sensor_fusion)/launch/sq2_zed.launch"/>
	<include file="$(find sensor_fusion)/launch/laser_tf.launch"/>

	<!--Transform PointCloud2 data at Camera Link-->
	<node pkg="sensor_fusion" type="laser_transform_pointcloud" name="laser_transform_pointcloud"/>

	<!--Save PointCloud-->
	<param name="lcl/save_num" type="int" value="100" />
	<node pkg="sensor_fusion" type="lcl" name="lcl">
		<remap from="/cloud" to="/cloud/tf" />
	</node>

	<!--divide PointCloud-->
	<node pkg="sensor_fusion" type="division" name="division" >
		<remap from="/cloud" 		to="/cloud/lcl" />
		<remap from="/cloud/center" to="/sq_lidar/points/center" />
		<remap from="/cloud/left" 	to="/sq_lidar/points/left" />
		<remap from="/cloud/right" 	to="/sq_lidar/points/right" />
	</node>

	<!--republish zed image-->
	<include file="$(find sensor_fusion)/launch/republish.launch"/>
	
</launch>
