<?xml version="1.0"?>
<launch>
    <!--Launch Sensor Node-->
	<!--include file="$(find sq1_extra)/launch/run_sq2_for_joy.launch"/-->

    <!--Launch Sensor TF-->
	<include file="$(find sensor_fusion)/launch/laser_tf.launch"/>

	<!--Transform PointCloud2 data at Camera Link-->
	<node pkg="sensor_fusion" type="laser_transform_pointcloud" name="laser_transform_pointcloud"/>
	
	<!--divide PointCloud-->
	<param name="rm_ground/threshold_z/min" type="double" value="-0.9" />
    <param name="rm_ground/threshold_z/max" type="double" value="1.0" />
    <node pkg="sensor_fusion" type="rm_ground_division" name="rm_ground_division" >
		<remap from="/cloud" 		to="/cloud/save" />
		<remap from="/cloud/center" to="/rm_ground/center" />
		<remap from="/cloud/left" 	to="/rm_ground/left" />
		<remap from="/cloud/right" 	to="/rm_ground/right" />
	</node>

	<!--Save PointCloud-->
	<param name="save_points/save_num" type="int" value="3000" />
	<param name="save_points/lidar_points" type="int" value="417" />
	<param name="save_points/hz" type="int" value="30" />
	<node pkg="sensor_fusion" type="save_points" name="save_points">
		<remap from="/cloud" to="/cloud/tf" />
	</node>
	
	<!--republish zed image-->
	<!--include file="$(find sensor_fusion)/launch/republish.launch"/-->
	
</launch>
